<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Site</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link rel="stylesheet" href="~/css/_Layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/custom-check.css" />
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button id="btnCollapseNavSistema" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navSistema">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <button id="btnCollapseNavUsuario" type="button" class="navbar-toggle btn-menu-usuario" data-toggle="collapse" data-target="#navUsuario">
                    <span class="sr-only">Opções do Usuário</span>
                    @User.Identity.Name.Substring(0, 1).ToUpper() <span class="caret"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Site</a>
            </div>
            <div id="navSistema" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="User" asp-action="@nameof(Site.Controllers.UserController.Index)">Usuários</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right visible-lg visible-md">
                    <li class="dropdown">
                        <a class="navbar-toggle btn-menu-usuario" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @User.Identity.Name.Substring(0, 1).ToUpper() <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a asp-area="" asp-controller="User" asp-action="@nameof(Site.Controllers.UserController.AlterLogged)">Alterar Minhas Informações</a></li>
                            <li><a asp-area="" asp-controller="User" asp-action="@nameof(Site.Controllers.UserController.Logout)">Sair</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div id="navUsuario" class="collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="User" asp-action="AlterInformation">Alterar Minhas Informações</a></li>
                    <li><a asp-area="" asp-controller="User" asp-action="@nameof(Site.Controllers.UserController.Logout)">Sair</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        <div class="container-fluid">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; 2018 - Site</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)

    <script>
        $("#btnCollapseNavSistema").on("click", function () {
            $("#navUsuario").collapse('hide');
        });

        $("#btnCollapseNavUsuario").on("click", function () {
            $("#navSistema").collapse('hide');
        });
    </script>
</body>
</html>
