@model Site.Models.UserViewModels.CreatePasswordViewModel
@{
    ViewData["Title"] = "Criar Minha Senha";
}

<div id="loginbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

    <div class="row">
        <div class="col-sm-12" style="padding: 20px;">
            <center>
                <img src="~/images/logo/small/logo.png" class="img-responsive" style="height: 60px; width: auto;" />
            </center>
        </div>
    </div>

    <div class="panel panel-black">
        <div class="panel-heading">
            <div class="panel-title">@ViewData["Title"]</div>
        </div>

        <div style="padding-top:30px" class="panel-body">

            @if (ViewBag.Mensagem != null)
            {
                <div class="alert alert-danger alert-dismissible">
                    @ViewBag.Mensagem
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }

            <form id="frmCreatePassword" asp-controller="User" asp-action="CreatePassword" asp-route-returnurl="@ViewBag.ReturnUrl" method="post" role="form">
                @Html.PartialAsync("_PasswordAndConfirmationPartial.cshtml").Result

                <input type="hidden" name="senhaAtual" value="@ViewBag.SenhaAtual" />

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group" style="float: right">
                            <button id="btnCriar" type="submit" class="btn btn-success">
                                Criar
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}